RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
RewriteCond %{HTTP_HOST} ^boxgaleria.com.br
RewriteRule ^ http://www.boxgaleria.com.br%{REQUEST_URI} [L,R=301]



